WorkSpace/Tools/Axis/Strings/temp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://string.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://string.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://string.com">
            <xs:element name="concat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="s2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="concatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="concatRequest">
        <wsdl:part element="ns:concat" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="concatResponse">
        <wsdl:part element="ns:concatResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="StringConcatPortType">
        <wsdl:operation name="concat">
            <wsdl:input message="ns:concatRequest" wsaw:Action="urn:concat"/>
            <wsdl:output message="ns:concatResponse" wsaw:Action="urn:concatResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StringConcatSoap11Binding" type="ns:StringConcatPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="concat">
            <soap:operation soapAction="urn:concat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StringConcatSoap12Binding" type="ns:StringConcatPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="concat">
            <soap12:operation soapAction="urn:concat" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StringConcatHttpBinding" type="ns:StringConcatPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="concat">
            <http:operation location="concat"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StringConcat">
        <wsdl:port binding="ns:StringConcatSoap11Binding" name="StringConcatHttpSoap11Endpoint">
            <soap:address location="http://localhost:8069/Strings/services/StringConcat.StringConcatHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:StringConcatSoap12Binding" name="StringConcatHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8069/Strings/services/StringConcat.StringConcatHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:StringConcatHttpBinding" name="StringConcatHttpEndpoint">
            <http:address location="http://localhost:8069/Strings/services/StringConcat.StringConcatHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
