WorkSpace/Tools/CXF/Numbers/WebContent/wsdl/primenumber_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://numbers.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://numbers.com/" version="1.0">
<xs:element name="prime" type="tns:prime"/>
<xs:element name="primeResponse" type="tns:primeResponse"/>
<xs:complexType name="prime">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="primeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
